doctype html
html
  head
    meta(charset='utf-8')
    title= 'Former Yugos League'
    style.
      .footer {
        flex: 1 0 auto;
        font-family: Helvetica;
        color: white;
        text-align: right;
        padding-right: 1rem;
      }
      html { 
        background: url("static/abigail-keenan-5013.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
      }
      body {
        height: 100%;
      }
      .content {
        height: 100%;
        min-width: 400px;
        display: flex;
        flex-direction: column;
      }

  body
    block content

  footer.footer
    block footer-text
      p copyright (c) Martin Hedlund

