doctype html
html
  head
    meta(charset='utf-8')
    title= 'Former Yugos League'
    style.
      .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: Helvetica;
        color: white;
        text-align: right;
        padding-right: 1rem;
      }
      html { 
        background: url("static/abigail-keenan-5013.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

  body
    block content

  footer.footer
    block footer-text
      p copyright (c) Martin Hedlund

