.body-container {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.body-container__buttons {
}

.body-container__inner {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}