.button {
  background-color: rgb(243, 236, 234);
  color: rgb(78, 76, 76);
  border: none;
  height: 30px;
  margin-right: 3px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(224, 221, 220);
}